@font-face {
    font-family: 'Bold';
    src: url('fonts/Bold.eot');
    src: url('fonts/Bold.otf') format("opentype"),
	src: url('fonts/Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Regular';
    src: url('fonts/Regular.eot');
    src: url('fonts/Regular.otf') format('opentype'),
	src: url('fonts/Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Title';
    src: url('fonts/Title.eot');
    src: url('fonts/Title.otf') format('opentype'),
	src: url('fonts/Title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html, input, textarea, select, button {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi),
only screen and ( min-resolution: 1.25dppx) {
        html, input, textarea, select, button {
                -webkit-font-smoothing: subpixel-antialiased;
        }
}
/*
 * Full screen right and left
 */
.left-column {
	float: left;
}
.right-column {
	width: 100%;
	text-align: right;
	white-space: nowrap;
}
.right-column > .wrapper {
	display: inline-block;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #8e8e8e;
}

body {
  font-family: "Open Sans", sans-serif !important;
  font-weight: normal !important;
  min-width: 460px;
}
a {
  color: #2b3175;
  transition: 0.4s all ease;
  text-decoration: none !important;
}
a:visited {
  color: #2b3175;
}
a:hover {
  color: #2b3175;
  text-decoration: none !important;
}
a:focus {
	outline: none;
	text-decoration: none !important;
}

h2 {
	color: #2b3175;
    font-size: 36px;
    letter-spacing: 10px;
    text-transform: uppercase;
	margin: 29px 0 33px;
	font-family: "Title"
}
.container {
  margin: auto;
}
body {
	overflow-x: hidden;
	font-family: "Open Sans", sans-serif !important;
	color: #000;
	background-color: #fff;
}
@media screen and (min-width: 1483px) {
	body {
		-webkit-background-size: 1483px auto;
		-moz-background-size: 1483px auto;
		-o-background-size: 1483px auto;
		background-size: 1483px auto;
		background-position: left center;
	}
}
body.bg-hidden {
	background-image: none;
}
@media screen and (max-width: 600px) {
	body {
		background-image: none;
	}
}
#content {
  clear: both;
}
#page {
  max-width: 100%;
}
.container {
	width: 100%;
}
#masthead {
  text-align: left;
  padding: 0px;
  border: none;
  position: relative;
  border-bottom: solid 1px #ffffff;
  border: 0px;
  background-color: #2b3175;
}
#masthead.frederiquetremblayauger {
	background-color: #2b3175;
}
#masthead.eloibrassardgourdeau {
	background-color: #ec1c59;
}
#masthead.emilebrassardgourdeau {
	background-color: #3a8881;
}
#masthead.alexandrevezina {
	background-color: #eaba47;
}
#masthead .site-title {
	margin-bottom: 26px;
}
#masthead .site-title a {
	color: #fff;
	-webkit-transition: all 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.85);
	-ms-transition: all 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.85);
	transition: all 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.85);
}
#masthead .site-title a:hover {
	color: #fff;
	-webkit-transition: all 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.85);
	-ms-transition: all 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.85);
    transition: all 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.85);
}
.ml {
	width: 400px;
	text-align: left;
	margin-left: 15px;
}
input.email {
    background-image: url("../images/form-email.png");
    background-repeat: no-repeat;
	background-color: #fff;
    border: 1px solid #c2c2c2;
    box-shadow: 0 1px #fff;
    color: #8e8e8e;
    font-size: 14px;
    height: 35px;
	width: 254px;
    outline: medium none;
    padding: 0 13px 0 34px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;

	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;

	-webkit-transition: all 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.85);
	-ms-transition: all 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.85);
    transition: all 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.85);
}
.ml button {
	background-color: #7daec8;
	height: 35px;
	padding: 0px 12px;
	border: 1px solid #7daec8;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	margin-left: -5px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;

	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-bottomleft: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;

	-webkit-transition: all 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.85);
	-ms-transition: all 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.85);
    transition: all 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.85);

	box-shadow: none;
	text-shadow: none;
}
.ml button:hover {
	background-color: #bf994b;
	height: 35px;
	padding: 0px 12px;
	border: 1px solid #bf994b;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	margin-left: -5px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.mc-error-msg {
	font-size: 16px;
	padding-top: 5px;
	padding-left: 9px;

	white-space: normal;

	-webkit-transition: all 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.85);
	-ms-transition: all 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.85);
    transition: all 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.85);

    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
	transform: translateY(0);

	z-index: 0;
	color: #9a9a9a;
}
.mc-error-msg.active {
	-webkit-transition: all 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.85);
	-ms-transition: all 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.85);
    transition: all 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.85);

    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
	transform: translateY(0);

	z-index: 0;
	color: #a94442;
}
.mc-error-msg.registered {
	color: #9a9a9a;

	-webkit-transition: all 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.85);
	-ms-transition: all 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.85);
    transition: all 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.85);

    -ms-transform: translateY(-43px);
    -webkit-transform: translateY(-43px);
	transform: translateY(-43px);

	z-index: 0;
}
input.email.error {
	border-top: 1px solid #a94442;
	border-left: 1px solid #a94442;
	border-bottom: 1px solid #a94442;
	color: #a94442;
}
.ml button.error {
	border-top: 1px solid #a94442;
	border-right: 1px solid #a94442;
	border-bottom: 1px solid #a94442;
}
input.email.disabled,
.ml button.disabled {
	opacity: 0.7;
	cursor: default;
}
.ml button.disabled:hover {
	background-color: #7daec8;
	border: 1px solid #7daec8;
}
input.email.registered,
.ml button.registered {
    -ms-transform: translateY(-200px);
    -webkit-transform: translateY(-200px);
	transform: translateY(-200px);
	z-index: -1;
	opacity: 0;
}

.col-lg-8 {
	width: 100%;
}
.skip-link {
	display: none !important;
}
#top-nav #site-navigation {
  margin-bottom: 0px;
  text-align: center;
  font-size: 15px;
  padding-left: 0px;
  -webkit-backface-visibility: hidden;
  margin-top: 0px;
  margin-left: -11px;
}
#top-nav #site-navigation a {
  color: #7daec8;
  padding: 5px 13px;
}
#top-nav #site-navigation a:hover {
  color: #fff;
  background: #7daec8;
}
.menu-main-container ul {
  margin: 0px;
}
.menu-main-container ul li {
  display: inline-block;
  margin-right: 24px;
}
.menu-main-container ul li a {
	color: #bf994b;
	font-size: 24px;
	letter-spacing: 7px;
	text-transform: uppercase;
}
.menu-main-container ul li a:hover {
  color: #7daec8;
}
.site-branding {
	width: 100%;
}
.site-branding .right-column {
}
@media screen and (max-width: 880px) {
	.site-branding .site-title {
		text-align: center;
		margin-bottom: 33px;
	}

	.site-branding .left-column {
		float: none;
	}
	.site-branding .right-column {
		text-align: center;
	}
	.ml {
		text-align: center;
		margin-left: 0;
	}
	.ml .mc-error-msg {
		padding-left: 0;
	}
	.menu-main-container ul {
		display: block;
	}
	.menu-main-container ul li {
		display: block;
		text-align: center;
		margin: 29px 0 33px;
	}
	.menu-main-container ul li a {
		font-size: 36px;
		letter-spacing: 10px;
	}
	h2.infolettre {
		margin-top: 0;
	}
}
/*
 * Footer
 */
.follow .button {
	display: inline;
	margin-right: 10px;
	height: 40px;
}
.follow, .contact {
	text-align: center;
	display: block;
}
.contact {
	margin-left: 50px;
}
.contact span.email {
	display: inline-block;
	font-size: 18px;
	line-height: 18px;
}
.follow-container {
	max-width: 1094px;
	text-align: center;
	margin-bottom: 5em;
}
.contact span.phone {
	display: inline-block;
	color: #9a9a9a;
	font-size: 18px;
	line-height: 18px;
	margin-top: 10px;

	margin-bottom: 26px;
}
@media screen and (max-width: 634px) {
	.follow-container {
		text-align: center;
	}
	.follow, .contact {
		float: none;
		text-align: center;
		margin-right: 0;
		margin-left: 0;
		margin-top: 29px;
		margin-bottom: 33px;
	}
	.contact {
		margin-bottom: 0;
	}
	.follow {
		margin-top: 0;
	}
}
/*
 * Content
 */
#content {
  padding-top: 10px;
  margin-top: 20px;
}
.page-header {
  margin-top: -20px;
}
#home-title {
  font-size: 22px;
  display: inline-block;
  padding-bottom: 10px;
  color: #35302e;
  text-align: left;
  padding-bottom: 15px;
  margin-top: -3px;
  margin-bottom: 30px;
  margin-left: -15px;
  width: 100%;
}
#home-title span {
  font-size: 22px;
  padding: 10px;
  margin-left: 15px;
}
@media screen and (max-width: 768px) {
  #home-title {
    text-align: center;
    margin: 10px auto;
    display: block;
    border-bottom: none;
    width: 100%;
  }
}
#primary {
	max-width: 1338px;
}
#primary article {
	margin-bottom: 42px;
}
@media screen and (max-width: 1276px) {
	#primary {
		margin-left: auto;
	    margin-right: auto;
		width: 892px;
		float: none;
	}
	#primary article {
		padding-left: 30px;
		padding-right: 30px;
		height: 429px;
		width: 446px !important;
	}

}
@media screen and (max-width: 878px) {
	#primary {
		margin-left: auto;
	    margin-right: auto;
		width: 446px;
		float: none;
	}
	#primary article {
		padding-left: 30px;
		padding-right: 30px;
		height: 429px;
		width: 446px !important;
	}
}
#primary article .after-thumb {
  overflow: auto;
  margin-top: -20px;
}
#primary article .after-thumb .entry-title a {
  font-size: 22px;
  color: #7daec8;
}
#primary article .after-thumb .entry-title a:hover {
  color: #ffd364;
}
#primary article .after-thumb h1.entry-title {
  margin-top: 4px;
  margin-bottom: 0px;
}
#primary .entry-content {
  margin-top: 0.3em;
  border-bottom: solid 1px #eee;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
#primary article.grid {
  display: block;
  padding-left: 0px;
  padding-right: 0px;
  min-height: 210px;
  margin-bottom: 3px;
}
#primary article.grid h1.entry-title {
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 12px;
}
#primary article.grid h1.entry-title a {
  color: white;
}
#primary article.grid .featured-thumb {
  padding-right: 1px;
  padding-left: 1px;
}
#primary article.grid .featured-thumb img {
  transition: all 0.9s ease;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  -webkit-backface-visibility: hidden;
}
#primary article.grid .featured-thumb:hover img {
  transition: all 0.9s ease;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  -webkit-filter: brightness(85%);
}
#primary article.grid .in-thumb {
  position: absolute;
  bottom: 0;
  padding: 0;
  width: 99%;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
}
#primary article.grid .in-thumb h1.entry-title a {
  display: block;
  width: 100%;
  margin-bottom: -12px;
  background: rgba(250, 209, 105, 0.65);
  padding: 10px;
}
#primary article.grid .in-thumb h1.entry-title a:hover {
  background: rgba(250, 209, 105, 0.85);
}
@media screen and (max-width: 767px) and (min-width: 401px) {
  #primary article.grid {
    width: 50%;
    clear: none;
    float: left;
  }
}
#primary article.grid2 {
  padding: 0;
  -webkit-backface-visibility: hidden;
}
#primary article.grid2 .featured-thumb {
  padding: 0;
  overflow: hidden;
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
}
#primary article.grid2 .featured-thumb:before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  transition: 0.8s all ease;
  -webkit-transition: 0.8s all ease;
  -moz-transition: 0.8s all ease;
  -o-transition: 0.8s all ease;
  -ms-transition: 0.8s all ease;
  pointer-events: none;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  background: linear-gradient(to bottom, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.6) 75%);
  z-index: 1;
}
#primary article.grid2 .featured-thumb:hover:before {
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}
#primary article.grid2 .featured-thumb img {
  -webkit-backface-visibility: hidden;
  transition: 0.6s all ease;
  -webkit-transition: 0.6s all ease;
  -moz-transition: 0.6s all ease;
  -o-transition: 0.6s all ease;
  -ms-transition: 0.6s all ease;
  z-index: 0;
}
#primary article.grid2 .featured-thumb img:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}
@media screen and (max-width: 991px) {
  #primary article.grid2 .featured-thumb {
    margin: 10px;
  }
}
#primary article.grid2 .out-thumb h1.entry-title {
  margin: 0 0 10px 0px;
  font-size: 17px;
}
#primary article.grid2 .out-thumb h1.entry-title a {
  color: #fdd266;
}
#primary article.grid2 .out-thumb h1.entry-title a:hover {
  color: #a7a7a7;
}
#primary article.grid2 .out-thumb .entry-excerpt {
  color: #dadada;
  font-size: 13px;
  line-height: 1.5em;
}
#primary article.grid2 .out-thumb .readmore {
  text-align: right;
  font-size: 13px;
  margin-top: 10px;
  display: block;
}
#primary article.grid2 .out-thumb .readmore:hover a {
  color: #a7a7a7;
}
@media screen and (max-width: 767px) {
  #primary article.grid2 {
    width: 65%;
    margin: 10px auto;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 450px) {
  #primary article.grid2 {
    width: 100%;
  }
}
#primary article.grid3 {
  width: 446px;
  height: 346px;
  overflow: hidden;
}
@media screen and (max-width: 600px) {
	#content {
		margin-top: 0;
	}
	#primary article.grid3 {
		width: 100%;
	}
}
#primary article.grid3 .artgrid {
  overflow: hidden;
  height: 100%;
  width: 416px
}
#primary article.grid3 .artgrid .dolo-grid-bg-container {
	background-size: 416px 387px;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	width: 100%;
	height: 100%;
}
#primary article.grid3 .artgrid .dolo-grid-bg-container:hover .entry-foot {
	-webkit-transition: all 0.15s cubic-bezier(0.465, 0.183, 0.153, 0.85);
	-ms-transition: all 0.15s cubic-bezier(0.465, 0.183, 0.153, 0.85);
    transition: all 0.15s cubic-bezier(0.465, 0.183, 0.153, 0.85);

    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
	transform: translateY(0);
}
#primary article.grid3 .artgrid .dolo-grid-bg-container .entry-foot {
	width: 416px;
	height: 154px;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 20px 15px;

	-webkit-transition: all 0.15s cubic-bezier(0.465, 0.183, 0.153, 0.85);;
	-ms-transition: all 0.15s cubic-bezier(0.465, 0.183, 0.153, 0.85);;
    transition: all 0.15s cubic-bezier(0.465, 0.183, 0.153, 0.85);;

    -ms-transform: translateY(98px);
    -webkit-transform: translateY(98px);
    transform: translateY(98px);
}
#primary article.grid3.frederiquetremblayauger .artgrid .dolo-grid-bg-container .entry-foot {
	background-color: #2b3175;
	opacity: 0.9;
}
#primary article.grid3.eloibrassardgourdeau .artgrid .dolo-grid-bg-container .entry-foot {
	background-color: #ec1c59;
	opacity: 0.9;
}
#primary article.grid3.emilebrassardgourdeau .artgrid .dolo-grid-bg-container .entry-foot {
	background-color: #3a8881;
	opacity: 0.9;
}
#primary article.grid3.alexandrevezina .artgrid .dolo-grid-bg-container .entry-foot {
	background-color: #eaba47;
	opacity: 0.9;
}
#primary article.grid3 .artgrid .dolo-grid-bg-container .entry-foot > h2 {
	font-size: 18px;
	font-weight: normal;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 0 0 15px 0;
	text-transform: uppercase;
	letter-spacing: 2px;
}
#primary article.grid3.frederiquetremblayauger .artgrid .dolo-grid-bg-container .entry-foot > h2 {
	color: #fff;
}
#primary article.grid3.eloibrassardgourdeau .artgrid .dolo-grid-bg-container .entry-foot > h2 {
	color: #fff;
}
#primary article.grid3.emilebrassardgourdeau .artgrid .dolo-grid-bg-container .entry-foot > h2 {
	color: #fff;
}
#primary article.grid3.alexandrevezina .artgrid .dolo-grid-bg-container .entry-foot > h2 {
	color: #fff;
}
#primary article.grid3 .artgrid .dolo-grid-bg-container .entry-foot > span {
	font-size: 14px;
	color: #fff;
}

.header-title {
	margin-bottom: 33px;
	float: none;
}
.header-title span {
  display: block;
  font-size: 36px;
  letter-spacing: 10px;
  color: #2b3175;
  font-family: "Title";
  padding-left: 0px;
  text-transform: uppercase;
}
.comments-title {
	margin-top: 0;
}
#content.frederiquetremblayauger .header-title span,
#content.frederiquetremblayauger a,
#content.frederiquetremblayauger a:hover,
#content.frederiquetremblayauger .comments-title,
#content.frederiquetremblayauger .comment-reply-title,
#content div.header-title.frederiquetremblayauger span {
	color: #2b3175;
}
#content.eloibrassardgourdeau .header-title span,
#content.eloibrassardgourdeau a,
#content.eloibrassardgourdeau a:hover,
#content.eloibrassardgourdeau .comments-title,
#content.eloibrassardgourdeau .comment-reply-title,
#content div.header-title.eloibrassardgourdeau span {
	color: #ec1c59;
}
#content.emilebrassardgourdeau .header-title span,
#content.emilebrassardgourdeau a,
#content.emilebrassardgourdeau a:hover,
#content.emilebrassardgourdeau .comments-title,
#content.emilebrassardgourdeau .comment-reply-title,
#content div.header-title.emilebrassardgourdeau span {
	color: #3a8881;
}
#content.alexandrevezina .header-title span,
#content.alexandrevezina a,
#content.alexandrevezina a:hover,
#content.alexandrevezina .comments-title,
#content.alexandrevezina .comment-reply-title,
#content div.header-title.alexandrevezina span {
	color: #eaba47;
}
#secondary #recent li.frederiquetremblayauger a {
	color: #2b3175;
}
#secondary #recent li.eloibrassardgourdeau a {
	color: #ec1c59;
}
#secondary #recent li.emilebrassardgourdeau a {
	color: #3a8881;
}
#secondary #recent li.alexandrevezina a {
	color: #eaba47;
}

body.mobile	#primary article.grid3 .artgrid .dolo-grid-bg-container .entry-foot {
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
}


#primary-mono {
	max-width: 772px;
}
#primary-mono .entry-content {
  margin-top: 0;
  color: #000;
  line-height: 1.7em;
  font-size: 15px;
  padding-top: 21px;
  max-width: 772px;
}
#primary-mono h1.entry-title {
  font-size: 32px;
}
#primary-mono .entry-meta {
  font-size: 15px;
  margin-top: 15px;
  text-transform: uppercase;
  min-width: 330px;
}
#primary-mono .entry-meta i.fa-user {
  margin-left: 15px;
}
#primary-mono .entry-meta i.fa {
  margin-right: 4px;
}
#primary-mono .entry-meta .byline {
  float: right;
}
#primary-mono .entry-content a:hover {
  color: #a7a7a7;
}
#primary-mono .edit-link {
	display: none;
}
#primary-mono code {
  background: #eee;
  color: black;
  font-weight: bold;
}
#primary-mono article.page h1.entry-title {
  border-bottom: solid 2px #7daec8;
  margin-bottom: 20px;
  margin-top: 12px;
}
#primary-mono article.page h1.entry-title span {
  background: url(../images/pattern2.png);
  padding: 10px 15px;
  display: inline-block;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: normal;
}
#secondary {
  font-size: 13px;
  float: none;
  max-width: 1230px;
}
#secondary .wrapper {
  min-width: 400px;
  width: 400px;
  text-align: left;
}
#secondary .widget {
  padding: 0 10px 10px 0px;
}
#secondary .widget h3 {
	color: #2b3175;
	font-family: "Title";
	margin-top: 0;
	letter-spacing: 7px;
	text-transform: uppercase;
	white-space: nowrap;
}
#secondary .widget h3.frederiquetremblayauger {
	color: #2b3175;
}
#secondary .widget h3.eloibrassardgourdeau {
	color: #ec1c59;
}
#secondary .widget h3.emilebrassardgourdeau {
	color: #3a8881;
}
#secondary .widget h3.alexandrevezina {
	color: #eaba47;
}
#secondary .widget h3 a {
	padding-top: 15px;
	display: block;
	white-space: nowrap;
	letter-spacing: 1px;
	font-size:18px;
	font-family: "Open Sans";
}
#secondary .widget > ul {
  margin-left: 0px;
  list-style: none;
}
#secondary .widget > ul li {
  list-style: none;
  padding-bottom: 6px;
  font-size: 18px;
  padding-top: 15px;
  letter-spacing: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}
#secondary h1.widget-title {
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 1px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #ffffff;
}
#secondary ul {
  margin-left: 20px;
}
#secondary ul ul {
  margin-left: 5px;
}
#secondary .widget_search label {
  width: 100%;
  margin-top: 5px;
}
#secondary .widget_search label input[type=search] {
  width: 100%;
  color: #7daec8;
  font-weight: normal;
  outline: none;
  background: #35302e;
  border-color: #6c615d;
  padding: 5px;
}
#secondary .widget_search label ::-webkit-input-placeholder {
  font-weight: lighter;
}
#secondary .widget_search label ::-moz-input-placeholder {
  font-weight: lighter;
}
#secondary .widget .tagcloud a {
  display: inline-block;
  font-size: 13px !important;
  padding: 5px;
  margin-bottom: 5px;
  font-weight: 600;
  background: #7daec8;
  color: #35302e;
}
#secondary .widget .tagcloud a:hover {
  background: #f8ba1f;
}
#secondary .widget_calendar caption {
  font-weight: bold;
  margin-bottom: 10px;
}
#secondary .widget_calendar th {
  background: black;
  padding: 8px 5px;
  color: #7daec8;
  text-align: center;
}
#secondary .widget_calendar tr td {
  padding: 5px;
  background: #35302e;
  text-align: center;
  border: solid 1px #ffffff;
}
@media screen and (max-width: 1199px) {
	#primary-mono {
		float: none;
	}
	#secondary {
		text-align: left;
		min-width: 450px;
		width: auto;
		margin-left: 0;
	}
	#secondary > .wrapper {
		width: 100%;
	}

	#secondary .widget > ul li {
	  list-style: none;
	  padding-bottom: 6px;
	  font-size: 16px;
	  padding-top: 15px;
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  text-transform: uppercase;
	}
	#secondary .widget h3 {
		font-size: 32px;
		letter-spacing: 9px;
	}
}
@media screen and (max-width: 525px) {
	#secondary .widget h3 {
		font-size: 28px;
		letter-spacing: 8px;
	}
}
article table {
  border: solid 1px #6c615d;
}
article table tr:nth-child(even) {
  background: #ffffff;
}
article table th {
  background: black;
  color: white;
  padding: 5px 10px;
}
article table td {
  padding: 5px 10px;
}
article ins {
  background: #746965;
}
article pre {
  background: #6c615d;
  color: #dadada;
  border-color: #b7afab;
}
article h1,
article h2,
article h3 {
  color: #7daec8;
}
article blockquote {
  border-color: #7daec8;
}
article blockquote cite {
}
/* --------------- archives -------------- */
.archive section#primary h1.page-title {
  border-bottom: solid 2px #7daec8;
  margin-bottom: 20px;
  margin-top: 11px;
}
.archive section#primary h1.page-title span {
  background: url(../images/pattern2.png);
  padding: 10px 15px;
  display: inline-block;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: normal;
}
.archive section#primary .page-header {
  border-bottom: none;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
/* --------------- pagination ------------ */
.pagination {
  margin: 20px 0;
  padding-top: 25px;
  text-align: center;
  width: 100%;
  clear: both;
}
.pagination ul {
  list-style: none;
  display: inline-block;
  text-align: center;
  margin-bottom: 0;
  margin-left: 0px;
}
.pagination ul > li {
  display: inline;
}
.pagination ul > li > a {
  color: #fff;
  transition: all 0.4s ease;
}
.pagination .current {
  background: #2b3175;
}
.pagination ul  > li  > a,
.pagination ul  > li  > span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  margin-right: 5px;
  background-color: #2b3175;
  border: 1px solid #2b3175;
  display: inline-block;
  color: #fff;
}
/*
 * Comments
 */
#respond {
	margin-top: 29px;
	margin-bottom: 33px;
}
#respond h3#reply-title {
  font-family: "Title";
  font-size: 36px;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin: 29px 0 33px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#respond h3#reply-title small {
  margin-top: 15px;
  line-height: 15px;
  display: block;
  color: inherit;
}
#respond p.comment-notes {
	display: none;
}
#respond input[type=text] {
  max-width: 550px;
  width: 400px;
}
#respond input,
#respond textarea {
	color: #000;
	outline: none;
	background-color: #fff;
	border: 1px solid #c2c2c2;
	border-radius: 3px 0 0 3px;
	box-shadow: 0 1px #fff;
	font-size: 14px;
	outline: medium none;
	padding: 0 13px 0 13px;
	transition: all 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.85) 0s;
}
#respond input {
	height: 35px;
}

#respond .comment-form-author,
#respond .comment-form-email,
#respond .comment-form-url,
#respond .comment-form-comment {
  position: relative;
}
#respond .comment-form-author input,
#respond .comment-form-email input,
#respond .comment-form-url input,
#respond .comment-form-comment input,
#respond .comment-form-author textarea,
#respond .comment-form-email textarea,
#respond .comment-form-url textarea,
#respond .comment-form-comment textarea {
  padding: 4px 5px 5px 10px;
  border-radius: 0;
}
#respond .comment-form-author label,
#respond .comment-form-email label,
#respond .comment-form-comment label {
  padding: 5px;
  min-width: 70px;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
}
#respond .comment-form-author label {
	margin-right: 50px;
}
#respond .comment-form-email label {
	margin-right: 15px;
}
#respond .comment-form-comment label {
  margin-bottom: 15px;
}
#respond .comment-form-author,
#respond .comment-form-email,
#respond .comment-form-comment {
	margin-bottom: 15px;
}
#respond .comment-form-comment textarea {
	width: 555px;
	display: block;
}
@media screen and (max-width: 612px) {
	#respond .comment-form-author input,
	#respond .comment-form-email input,
	#respond .comment-form-comment textarea {
		width: 100%;
	}
}
#respond .form-submit input[type=submit] {
	background-color: #2b3175;
	border: 1px solid #2b3175;
	font-family: "Bold";
	border-radius: 0 3px 3px 0;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	height: 35px;
	padding: 0 12px;
	text-shadow: none;
	transition: all 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.85) 0s;
	margin-left: 2px;
}
#respond .form-submit input[type=submit].emilebrassardgourdeau {
	background-color: #3a8881;
	border: 1px solid #3a8881;
}
#respond .form-submit input[type=submit].eloibrassardgourdeau {
	background-color: #ec1c59;
	border: 1px solid #ec1c59;
}
#respond .form-submit input[type=submit].frederiquetremblayauger {
	background-color: #2b3175;
	border: 1px solid #2b3175;
}
#respond .form-submit input[type=submit].alexandrevezina {
	background-color: #eaba47;
	border: 1px solid #eaba47;
}
#respond .form-submit {
	display: inline-block;
}
#respond #mc4wp-checkbox {
	display: inline-block;
	margin-left: 35px;
}
@media screen and (max-width: 535px) {
  #respond #mc4wp-checkbox {
    margin-left: 0;
	display: block;
  }
}
#respond #mc4wp-checkbox label {
	font-weight: 400;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 2px;
}
#respond .comment-notes,
#respond .logged-in-as {
  color: #dadada;
}
#comments ol.comment-list {
  list-style: none;
  margin-left: 0px;
  margin-bottom: 33px;
}
#comments li.comment {
  margin-top: 25px;
  margin-bottom: 29px;
  list-style: none;
}
#comments li.comment .comment-content {
  color: #000;
  font-size: 14px;
}
#comments li.comment .comment-content .reply {
	display: none;
}
#comments li.trackback {
  background: #ffffff;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: solid 1px #eee;
  font-weight: bold;
}
#comments li.trackback a {
  font-weight: normal;
}
#comments .vcard img {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
  margin: 0 10px 10px 0;
}
#comments .comment-metadata {
	font-size: 24px;
	line-height: 24px;
	letter-spacing: 7px;
	margin-bottom: 12px;
}
#comments .comment-metadata cite {
	min-width: 340px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	color: #000;
	text-transform: uppercase;
}
#comments .comment-metadata cite a {
	color: #000;
}
#comments .comment-metadata time {
	color: #000;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 2px;
	display: inline-block;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
}
#cancel-comment-reply-link {
	font-size: 15px;
	letter-spacing: 3px;
	color: #bf994b !important;
}

@media screen and (max-width: 480px) {
  li.comment {
    margin-left: -5%;
  }
}
section.no-results {
  padding-bottom: 100px;
}
section.no-results h1 {
  font-size: 22px;
}
section.no-results header {
  border-bottom: none;
}
section.no-results p {
  color: #dadada;
  font-size: 15px;
}
section.no-results form.search-form input {
  background: #433c3a;
  border-color: #ffffff;
  color: #7daec8;
  box-shadow: none;
  text-shadow: none;
  outline: none;
}
#secondary .woocommerce ul.product_list_widget,
#secondary .woocommerce-page ul.product_list_widget {
  margin-left: 4px;
}
#secondary .woocommerce ul.product_list_widget li,
#secondary .woocommerce-page ul.product_list_widget li {
  border-bottom: none;
}
#secondary .woocommerce ul.product_list_widget li:before,
#secondary .woocommerce-page ul.product_list_widget li:before {
  content: none !important;
}
#secondary span.amount {
  font-weight: bold;
  color: #c1c1c1;
}
#secondary del {
  font-size: 10px;
  color: #e7e7e7;
}
.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img,
.woocommerce-page ul.cart_list li img,
.woocommerce-page ul.product_list_widget li img {
  float: left;
  margin-right: 14px;
  width: 48px;
  height: auto;
}
/* --------------- colophon ---------------- */
#colophon {
  text-align: center;
  padding: 15px;
  background: #1a1716;
  padding-bottom: 4px;
  color: #888888;
}
#colophon .site-info {
  text-align: left;
}
#colophon a {
  color: #aaaaaa;
  font-weight: lighter;
}
#colophon a:hover {
  color: #ddd;
}
@media screen and (max-width: 991px) {
  #colophon .site-info {
    text-align: center;
    margin: 20px;
  }
}
.hupso_c {
	min-width: 308px;
	overflow: hidden;
	white-space: nowrap;
}
.hupso_facebook {
	margin-top: -5px !important;
	margin-right: 4px !important;
}
